.expanded-card{
    position: fixed;
    top: -50%;
    left: 50%;
    width: 100dvw;
    height: 100dvh;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;
    transition: top 1s ease-in-out;
    transition-delay: 0s;
    z-index: 21;
    overflow: hidden;
}

.expanded-card.visible{
    top: 50%;
    transition-delay: 1s;
    border-radius: 0rem;
}

.expanded-card h2{
    font-size: 10rem;
    color: white;
}

.project-backdrop{
    position: fixed;
    inset: 0;
    z-index: 20;
    animation-name: backdropOpen;
    animation-delay: 0s;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.expanded-card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 2rem;
}

.expanded-card-header > .expanded-card-title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.expanded-card-header div img{
    width: 3rem;
}

.expanded-card-header h2{
    font-size: 3rem;
}

.expanded-card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 0.8rem;
}

.expanded-card-footer div {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
}

.expanded-card-footer > .expanded-card-footer-links {
    justify-content: space-evenly;
    width: 100%;
}

.expanded-card-footer div img{
    width: 3rem;
}

.expanded-card-footer div a{
    font-size: 1.5rem;
}