@keyframes Shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes animatedBorder {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}

@keyframes backdropOpen {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100%{
    background: rgba(0, 0, 0, 0.8);
    /* backdrop-filter: blur(2px); */
  }
}

@keyframes opacityToOne {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}