.backdrop{
    position: fixed;
    inset: 0;
    z-index: 20;
    animation-name: backdropOpen;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.OuterMoon > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation-name: opacityToOne;
    height: 100%;
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.OuterMoon{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 40rem;
    border-radius: 40rem;
    pointer-events: none;
    z-index: 1;
    transition: all 1s ease-in-out;
    margin-bottom: 5rem;
    padding: 1.5rem;
}

.OuterMoon.open{
    height: 80%;
    width: 80%;
    border-radius: 1rem;
    z-index: 25;
    margin-bottom: 10rem;
    pointer-events: auto;
}

@media (max-width: 900px) {
    .OuterMoon{
        width: 33rem;
        height: 33rem;
    }
}

@media (max-width: 600px) {
    .OuterMoon{
        width: 26rem;
        height: 26rem;
    }
}