.HeaderTitle.Home{
    width: 100%;
    text-align: center;
    white-space: nowrap;
    font-size: 4rem;
}

.HomeMainContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    width: 100%;
    margin-top: 3rem;    
}

.HomeMainContent .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5em;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.GitHubLinkedInButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 2.5rem;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}

.GitHubLinkedInButton:hover, .GitHubLinkedInIcon:hover{
    background: var(--hover-background);
    background-size: auto;
    background-clip: border-box;
    background-size: 200% 100%;
    animation-name: Shimmer;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.GitHubLinkedInIcon{
    width: 3rem;
    height: 3rem;
}

.GitLinkedInSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1.5rem;
    width: 100%;
    
}

.ShortAboutMeDescription{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    width: 80%;
}

.ShortAboutMeDescription p{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 100;
}

.QuickButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 50%;
}