.ProjectsPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.ProjectsPage article{
    display: flex;
    align-items: center;
    justify-content: center;
}