header{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 1rem 0rem 1rem;
    z-index: 20;
}

.HeaderRowOne{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding-bottom: 0.5rem;
}

.HeaderLogo{
    width: 4rem;
    height: 4rem;
    overflow: visible;
}


.headerHome{
    margin-top: 3rem;
}


.quickSection {
    position: fixed;
    top: 5rem;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 1s ease, opacity 1s ease-in-out;
    margin: 1rem 0.5rem 0 0.5rem;
}

.quickSection.open {
    padding-bottom: 1rem;
    max-height: 100%;
    opacity: 1;
    transition: max-height 1s ease, opacity 0s ease-in-out 0s;
}

@media (max-width: 800px) {
    .quickSection{
        height: fit-content;
    }
}