header{
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1.5rem 1rem 0rem 1rem;
    background-color: #00000020;
    gap: 1.5rem;
    /* border-bottom: 1px solid rgb(0, 0, 0); */
    /* backdrop-filter: blur(1px);  */
}

.HeaderRowOne{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.headerHome{
    margin-top: 3rem;
}

.HeaderTitle{
    font-size: 2.5rem;
    font-weight: 600;
}

.quickSection {
    overflow: hidden;

    max-height: 0;
    opacity: 0;

    transition:
        max-height 1s ease,
        opacity 0.5s ease;
}

.quickSection.open {
    padding-bottom: 1rem;
    max-height: 500px;
    opacity: 1;
    transition:
        max-height 1s ease,
        opacity 0s ease-in-out 0s;
}

.tabText{
    font-weight: 500;
}

.tabTextLink{
    transition: all 0.3s ease-in-out;
}

.tabTextLink:hover{
    scale: 1.05;
    transform: translateX(0.4rem) ;
    background: var(--hover-background);
    background-size: auto;
    background-clip: border-box;
    background-size: 200% 100%;
    animation-name: Shimmer;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

