.OuterMoon{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 40rem;
    border-radius: 20rem;
    pointer-events: none;
    z-index: 1;
}